/*Galerias*/
section
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

	.galeria-encabezado
	{
		padding-bottom: 10px;

		display: flex;
		flex-direction: column;
	}

	.galeria-cuerpo
	{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}

		.galeria-cuerpo a
		{
			outline: 0px;
			display: block;
			text-decoration: none;
		}

			.galeria-cuerpo a article
			{
				margin: 10px 5px;
				border: 2px solid #2196F3;
				padding: 5px;
				background: inherit;
				transition: border .25s ease-in-out;

				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				flex-basis: 30%;
			}
			.galeria-cuerpo a:hover article,
			.galeria-cuerpo a:focus article
			{
				border: 2px solid #82B1FF;
			}

				.galeria-cuerpo a article .marco
				{
					overflow: hidden;
				}

				.galeria-cuerpo a article img
				{
					transition: transform .25s ease-in-out;
				}
				.galeria-cuerpo a article img:hover,
				.galeria-cuerpo a:focus article img
				{
					transform: scale(1.25);
				}

				.galeria-cuerpo a article h3,
				.galeria-cuerpo a article p
				{
					margin-top: 5px;
				}

				.galeria-cuerpo a article p
				{
					color: #ECEFF1;
				}

/*Pagina detalle foto*/
.foto-contenedor
{
		width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

	.foto-contenedor h1
	{
		width: 85%;
		text-align: center;
	}

	.foto-contenedor img.no-error
	{
		width: 100%;
		height: auto;
	}

	.foto-contenedor .foto-info
	{
		width: 85%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

		.foto-contenedor .foto-info p
		{
			margin-top: 5px;
		}
		.foto-contenedor .foto-info p:first-child
		{
			margin-top: 0px;
		}