*
{
	margin: 0px;
	box-sizing: border-box;
	outline-color: #2196F3;
}

::selection 
{
	background: #1976D2 !important;
}

body
{
	min-height: 100vh;
	padding: 0em 1em;
	padding-top: 64px ;
	background: #263238;
	font-family: "Ubuntu", "Arial", "Helvetica", sans-serif;
	font-size: 14px;
	color: #ECEFF1;

	display: flex;
	flex-direction: column;
}

header
{
	width: 100%;
	height: 64px;
	background: #37474F;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 7;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

	header nav
	{
		width: 33%;
		display: flex;
		flex-direction: row;
	}

		header nav ul
		{
			width: 100%;
			padding: 0px;
			list-style: none;

			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
		}

			header nav ul li
			{
				display: flex;
				flex-basis: 30%;
			}

				header nav ul li a,
				header section.iniciar-sesion p a
				{
					width: 100%;
					line-height: 64px;
					padding: 0px 5px;
					color: #ECEFF1;
					text-align: center;
					text-decoration: none;
					transition: background .25s ease-in-out;
				}
				header nav ul li a:hover,
				header section.iniciar-sesion p a:hover,
				header nav ul li a:focus,
				header section.iniciar-sesion p a:focus
				{
					outline: 0;
					background: #2196F3;
				}

	header section.logueado
	{
		padding: 5px 20px;

		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	header section.iniciar-sesion
	{
		padding: 0px;
	}

		header section p
		{
			color: #ECEFF1;
			display: flex;
			justify-content: flex-end;
		}

			header section.iniciar-sesion p a
			{
				padding: 0px 20px;
			}

			header section.logueado p a
			{
				margin-left: 20px;
				color: #2196F3;
				text-decoration: none;
				transition: color .25s ease-in-out;
			}
			header section.logueado p a:hover
			{
				color: #82B1FF;
			}
			header section.logueado p a:focus
			{
				outline: 0;
				color: #82B1FF;
				text-decoration: underline;
			}


div.marco-dios
{
	padding: 1.5em 0em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
}

main
{
	width: 100%;
	padding: 1em;
	background: inherit;

	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}
	.centrado
	{
		width: initial;
	}

	main section
	{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	h1, h2, h3
	{
		color: #2196F3;
	}
	h1, h2
	{
		text-align: center;
	}

	.tarjeta
	{
		margin: .5em 1em;
		width: 100%;
		padding: 1em;
		background: inherit;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

		.tarjeta ul
		{
			margin-top: 5px;
			margin-bottom: 10px;
		}

		.tarjeta ul a
		{
			color: #2196F3;
			text-decoration: none;
			transition: color .25s ease-in-out;
		}
		.tarjeta ul a:hover
		{
			color: #82B1FF;
		}
		.tarjeta ul a:focus
		{
			outline: 0;
			color: #82B1FF;
			text-decoration: underline;
		}


	.encabezado
	{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.separador
	{
		margin-top: 10px;
		margin-bottom: 20px;
		border-bottom: 2px solid #2196F3;
		width: 85%;
	}

	.texto-izquierda
	{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.texto-izquierda p
	{
		margin-bottom: 5px;
	}

	.resultados .campo-resultado
	{
		margin-top: 10px;
		font-weight: bold;
		color: #2196F3;
	}
		.resultados .campo-resultado:first-child
		{
			margin-top: 0px;
		}

	.boton
	{
		display: block;
		margin: 5px !important; 
		box-sizing: content-box;
		border: none;
		border-radius: 3px;
		padding: 2px 20px;
		background: #2196F3;
		color: #ECEFF1;
		text-decoration: none;
		transition: all .25s ease-in-out;
	}
	.boton:hover,
	.boton:focus
	{
		outline: 0;
		background: #82B1FF;
		color: #263238;
	}

	.peligro
	{
		background: #D50000;
	}
	.peligro:hover,
	.peligro:focus
	{
		outline: 0;
		background: #FF5252;
	}

footer
{
	margin: 0em -1em;
	height: 64px;
	background: #37474F;
	color: #ECEFF1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}










/*Media queries*/
@media screen and (max-width: 480px)
{
	body
	{
		padding: 0px;
	}

	header
	{
		position: relative;
		box-shadow: none;
	}

	div.marco-dios
	{
		margin: 0em -1em;
		padding: 0px;
	}

	main,
	.centrado
	{
		width: 100%;
		padding: 1em;
		box-shadow: none;
	}
}