*
{
	margin: 0px;
	box-sizing: border-box;
}

::selection 
{
	background: #80CBC4 !important;
}

body
{
	min-height: 100vh;
	background: #90A4AE;
	font-family: "Ubuntu", "Arial", "Helvetica", sans-serif;
	font-size: 14px;
	color: #263238;

	display: flex;
	flex-direction: column;
}

header
{
	width: 100%;
	height: 64px;
	background: #455A64;
	box-shadow: 0px 7px 7px rgba(0,0,0,0.35);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 7;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

	header nav
	{
		width: 33%;
		display: flex;
		flex-direction: row;
	}

		header nav ul
		{
			width: 100%;
			padding: 0px;
			list-style: none;

			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
		}

			header nav ul li
			{
				display: flex;
				flex-basis: 30%;
			}

				header nav ul li a
				{
					width: 100%;
					line-height: 64px;
					color: #ECEFF1;
					text-align: center;
					text-decoration: none;
					transition: background .25s ease-in-out;
				}
				header nav ul li a:hover
				{
					background: #90A4AE;
					color: #263238;
				}

	header section
	{
		padding: 5px 20px;

		display: flex;
		flex-direction: column;
		justify-content: center;
	}

		header section p
		{
			color: #ECEFF1;
			display: flex;
			justify-content: flex-end;
		}

			header section p a
			{
				margin-left: 20px;
				color: #4DB6AC;
				text-decoration: none;
				transition: color .25s ease-in-out;
			}
			header section p a:hover
			{
				color: #00BFA5;
			}

main
{
	margin: 1.5em 1em;
	margin-top: 85px;
	padding: 1em;
	background: #ECEFF1;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

	h1, h2, h3
	{
		color: #009688;
	}
	h1, h2
	{
		text-align: center;
	}

	.tarjeta
	{
		margin: .5em 1em;
		width: 100%;
		padding: 1em;
		background: #FAFAFA;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		transition: box-shadow .25s ease-in-out;

		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.tarjeta:hover
	{
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}

		.tarjeta ul
		{
			margin-top: 5px;
			margin-bottom: 10px;
		}

		.tarjeta ul a
		{
			color: #009688;
			text-decoration: none;
			transition: color .25s ease-in-out;
		}
		.tarjeta ul a:hover
		{
			color: #00BFA5;
		}

	.centrado
	{
		margin: 1.5em auto;
		margin-top: 85px;
	}

	.encabezado
	{
		margin-bottom: 20px;
		width: 85%;
		padding-bottom: 10px;
		border-bottom: 2px solid #009688;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.texto-izquierda
	{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.texto-izquierda p
	{
		margin-bottom: 5px;
	}

	.boton
	{
		display: block;
		margin: 5px !important; 
		box-sizing: content-box;
		border: none;
		border-radius: 3px;
		padding: 2px 20px;
		background: #009688;
		color: #ECEFF1 !important;
		text-decoration: none;
		transition: background .25s ease-in-out;
	}
	.boton:hover
	{
		background: #00BFA5;
	}

	.peligro
	{
		background: #D50000;
	}
	.peligro:hover
	{
		background: #FF5252;
	}

footer
{
	height: 64px;
	background: #455A64;
	color: #ECEFF1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}