/*Campos de formulario*/
form p
{
	margin: 5px 0px;
}

	form p input, form p textarea, form p select
	{
		margin-bottom: 10px;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="number"],
	input[type="tel"],
	input[type="date"],
	input[type="submit"],
	textarea, 
	select
	{
		outline: none;
		border: none;
		border-bottom: 2px solid #009688;
		height: 28px;
		padding: 2px;
		background: inherit;
		font-family: inherit;
		color: inherit;
		transition: all .25s ease-in-out;
	}

	select,
	input[type="submit"]
	{
		border: none;
		border-radius: 3px;
		background: #009688;
		color: #ECEFF1;
	}

	input[type="submit"]
	{
		box-sizing: content-box;
		padding: 2px 20px;
	}
	
	input[type="text"]:hover,
	input[type="password"]:hover,
	input[type="email"]:hover,
	input[type="number"]:hover,
	input[type="tel"]:hover,
	input[type="date"]:hover,
	textarea:hover,
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	input[type="number"]:focus,
	input[type="tel"]:focus,
	input[type="date"]:focus,
	textarea:focus
	{
		border-bottom: 2px solid #00BFA5;
	}

	select:hover,
	select:focus,
	input[type="submit"]:hover,
	input[type="submit"]:focus
	{
		background: #00BFA5;
	}

	input[type="radio"] + label
	{
		margin-left: 5px;
		margin-right: 20px;
	}

	textarea
	{
		width: 100%;
		height: 64px;
	}

	








/*Login*/
#login,
#loginErr
{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(38, 50, 56, .7);
}

#login:target,
#loginErr
{
	position: absolute;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

	.login-contenedor
	{
		position: relative;
		margin: 0px auto;
		padding: 5px;
		background: #ECEFF1;
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		transition: all .25s ease-in-out;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

		.login-contenedor .cerrar
		{
			position: absolute;
			top: 5px;
			right: 5px;
			color: #009688;
			text-decoration: none;
			transition: color .25s ease-in-out;
		}
		.login-contenedor .cerrar:hover
		{
			color: #00BFA5;
		}


		.login-contenedor .login-encabezado
		{
			margin-bottom: 20px;
			width: 85%;
			padding-bottom: 10px;
			border-bottom: 2px solid #009688;

			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center
		}

		.login-contenedor form
		{
			width: 100%;
			padding: 0px 10px;
		}

			.login-contenedor form p:last-child
			{
				margin-bottom: 0px;
				text-align: center;
			}










/*Solicitud album*/
.solicitud-y-tabla
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

	.solicitud-y-tabla>section,
	.solicitud-y-tabla aside
	{
		padding: 1em;
		background: #FAFAFA;
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		
		display: flex;
		flex-direction: column;
		align-items: center;
	}

		.solicitud-y-tabla aside
		{
			position: absolute;
			right: 28px;
		}

		table
		{
			border-spacing: 0px;
		}

			table th, table td
			{
				padding: 5px;
				text-align: center;
				vertical-align: middle;
			}

			table th
			{
				background: #009688;
				color: #ECEFF1;
				font-size: 1.05rem;
				font-weight: bold;
			}

				tbody tr:nth-child(even), tbody tr:nth-child(even) td
				{
					background: #B2DFDB;
				}

				tbody tr:nth-child(odd), tbody tr:nth-child(odd) td
				{
					background: #E0F2F1;
				}









/*Media queries*/
@media screen and (max-width: 1240px)
{
	.solicitud-y-tabla
	{
		flex-direction: column;
	}

		.solicitud-y-tabla aside
		{
			margin: 0px auto;
			margin-bottom: 20px;
			position: static;
		}
}