*
{
	margin: 0px;
	box-sizing: border-box;
}

body
{
	min-height: 100vh;
	background: #FFF;
	font-family: serif;
	font-size: 14px;
	color: #000;

	display: flex;
	flex-direction: column;
}

header
{
	display: none;
}

main
{
	margin: 1.5em 1em;
	padding: 1em;
	background: transparent;

	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

	h1, h2, h3
	{
		color: black;
	}
	h1, h2
	{
		text-align: center;
	}
	
	/*Galerias*/
	.galeria-encabezado
	{
		border-bottom: 2px solid #000;
	}

	.galeria-cuerpo a article
	{
		background: transparent;
		box-shadow: none;
		border: 1px solid #000;
		flex-basis: 20%;
		padding: 1px;
	}

		.galeria-cuerpo a article img
		{
			visibility: hidden;
		}
		.galeria-cuerpo a article img:after
		{
  			content: " (" attr(href) ") ";
		}

	/*detalle de foto*/

	.foto-contenedor h1
	{
		border-bottom: 2px solid #000;
		width: 85%;
		padding-bottom: 10px;
		text-align: center;
	}

	.foto-contenedor img
	{
		margin: 20px 0px;
		visibility: hidden;
	}

	.foto-contenedor .foto-info
	{
		border-top: 2px solid #000;
		width: 85%;
		padding-top: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	/*------------------------------------------------------------------------------*/
	.tarjeta
	{
		margin: .5em 1em;
		width: 100%;
		padding: 1em;
		background: transparent;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

		.tarjeta ul
		{
			margin-top: 5px;
			margin-bottom: 10px;
		}

		.tarjeta ul a
		{
			color: inherit;
			text-decoration: none;
		}

	.centrado
	{
		margin: 1.5em 14px;
		margin-top: 85px;
	}

	.encabezado
	{
		margin-bottom: 20px;
		width: 85%;
		padding-bottom: 10px;
		border-bottom: 2px solid #000;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.texto-izquierda
	{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.texto-izquierda p
	{
		margin-bottom: 5px;
	}

	.boton
	{
		display: block;
		margin: 5px !important; 
		box-sizing: content-box;
		border: 2px solid #000;
		border-radius: 3px;
		padding: 2px 20px;
		background: transparent;
		color: #000 !important;
		text-decoration: none;
	}

	.peligro
	{
		background: #D50000;
	}



	/*formularios*/
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="number"],
	input[type="tel"],
	input[type="date"],
	textarea
	{
		border-bottom: 2px solid #000 !important;
		color:#000;
		background: transparent;
	}

	select, 
	input[type="submit"]
	{
		border: 2px solid #000;
		color:#000;
		background: transparent;
	}

	.solicitud-y-tabla>section,
	.solicitud-y-tabla aside
	{
		padding: 1em;
		background: transparent;
		box-shadow: none;
	}

		.solicitud-y-tabla aside
		{
			position: absolute;
			right: 28px;
		}

			table
			{
				border: 2px solid #000;
				border-spacing: 0px;
			}

				table th, table td
				{
					padding: 5px;
					text-align: center;
					vertical-align: middle;
				}

				table th
				{
					border-bottom: 2px solid #000;
					background: transparent;
					color: #000;
				}

					tbody tr:nth-child(even), tbody tr:nth-child(even) td,
					tbody tr:nth-child(odd), tbody tr:nth-child(odd) td
					{
						border-bottom: 1px solid #000;
						background: transparent;
					}
					tbody tr:last-child td
					{
						border-bottom: none;
					}


footer
{
	height: 32px;
	background: transparent;
	color: #000;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}